body {
    background-color: lightgray;
}

#page {
    margin: auto;
    max-width: 1000px;
    background-color: white;
    padding: 5px 10px;
}

#banner {
    color: black;
    display: block;
    font-family: Univers, Akzidenz-Grotesk, Helvetica, sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-bottom-style: solid;
}

/* headers */
h1, h2, h3, h4, h5, h6 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* title links */
h1 a:link, h1 a:visited {
    text-decoration: none;
    color: black;
}
h1 a:hover, h1 a:active {
    text-decoration: underline;
    color: darkred;
}

/* I am the master of typefaces */
p {
    font-family: Optima, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* (error) messages */
p.message {
    font-weight: bold;
    color: red;
}

/* body text */
.body p {
    text-align: justify;
}

.published p {
    font-weight: bold;
}

#editor input[type=text], #editor textarea {
    font-size:inherit;
    text-align:inherit;
    color:inherit;
    width:100%;
    border:1px dotted #ddd;
}

#editor input[type=text] {
    font-family:inherit;
}
#editor textarea {
    font-family: "Lucida Console", Monaco, monospace;
}

#editorcontrols {
    margin-top: 5px;
}

#editorcontrols input[name=save-article] {
    font-weight: bold;
}

/* navigation bar */
#nav_bar {
    background: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.nav_tab {
    float: left;
}
.nav_tab a:link, .nav_tab a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav_tab a:hover, .nav_tab a:active {
    background-color: gray;
}
