/* headers */
h1, h2, h3, h4, h5, h6 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* I am the master of typefaces */
p {
    font-family: Optima, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* body text */
.body p {
    text-align: justify;
}
