body {
    background-color: lightgray;
}

#page {
    margin: auto;
    max-width: 1000px;
    background-color: white;
    padding: 5px 10px;
}

/* headers */
h1, h2, h3, h4, h5, h6 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* I am the master of typefaces */
p {
    font-family: Optima, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* (error) messages */
p.message {
    font-weight: bold;
    color: red;
}

/* body text */
.body p {
    text-align: justify;
}

#editor input[type=text], #editor textarea {
    font-size:inherit;
    text-align:inherit;
    color:inherit;
    width:100%;
    border:1px dotted #ddd;
}

#editor input[type=text] {
    font-family:inherit;
}
#editor textarea {
    font-family: "Lucida Console", Monaco, monospace;
}
